$primary-color: #ffd15b;
$secondary-color: #1b1b1b;
$color-grey: #7a7a7a;
$color-light-grey: #c6c6c6;
$color-bg-light-grey: #ededed;

$font-xs: 0.75rem; //12px
$font-xs-small: 0.875rem; //14px
$font-small: 1rem; // 16px
$font-small-medium: 1.125rem; //18 px
$font-medium: 1.313rem; // 21px
$font-xl: 2.75rem; // 44px

$font-primary: "Anton", sans-serif;
$font-secondary: "Manrope", sans-serif;

